<h3>Cash flow test result</h3>

<p>Your total income is <i><%= acumen_test.total_income_count %></i></p>
<p>Your total expeditures is <i><%= acumen_test.total_expenditures_count %></i></p>
<p>Your cash surplus/deficete is <i><%= acumen_test.cash_surplus_deficite %></i></p>