%h1Acumen Test
%p We are working now on this test implementation...

%p
  Acumen test status:
  = @acumen_test.finished?
%p
  Result
  %i (if present)
  \:
  = current_user.acumen_tests.first.try(:result)
%br

= acumen_test_menu(current_user)

%br

/= render 'qualitative_test_results', :acumen_test => @acumen_test if @acumen_test.qualitative_test_finished?
%br
/= render 'quantitative_test_results', :acumen_test => @acumen_test if @acumen_test.quantitative_test_finished?
%br
/= render 'cash_flow_test_result', :acumen_test => @acumen_test if @acumen_test.cash_flow_test_finished?
%br
%br
%p
  If you would like to to reenter the Acumen Test, click
  = link_to "here", new_acumen_test_path
