<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Budget 24-7</h1>
    <p>
      Hello, <%= @user.first_name %> <%= @user.last_name %> !
    </p>
    <p>
      Notice, that your budget for '<%= @budget.category %>' category is exceeded.
    </p>

    <hr />
    Please, <a href="mailto:pfm.sup.psodhfoih2904@gmail.com?subject=Email | Budget is exceed">contact us</a>
    if you have any questions.
  </body>
</html>