Budget 24-7
===========================================================================

Hello, <%= user.first_name %> <%= user.last_name %> !

Notice, that your budget for '<%= budget.category %>' category is exceeded.

---------------------------------------------------------------------------
Please <a href="mailto:pfm.sup.psodhfoih2904@gmail.com?subject=Email question">contact us</a> if you have any questions.