  <!--Begin Content-->
  <div id="content" class="grid_24">
      <h2 class="page-title">Community Policy</h2>
      
      <!--Right Content-->
      <div id="full-width" class="grid_17 full-c">
      
      <p>Budget 24/7 strives to create a safe, engaged community for users to discuss financial decision-making. Users must agree to our terms of service and are welcome to post on Budget 24-7 in accordance with our Community Policy. Users who are found to be violation of the below rules may be suspended or banned from the site at any time. Decisions about suspension and expulsion are subject to the sole discretion of Budget 24/7 and its editors.</p>

	<p><strong>Illegal Use:</strong> Budget 24/7 may not be used for illegal or fraudulent purposes.</p>

	<p><strong>Improper Conduct:</strong> Users are asked to contribute to Budget 24/7's community with the understanding of the value in helping fellow users make better decisions about their financial lives. Disparaging, negative or unhelpful content may be removed from the site at the editors' discretion, and patterns of such behaviour can result in suspension or expulsion of the user's account.</p>

	<p><strong>Spam:</strong> Users who do not publish meaningful or relevant content, use deceptive means to generate revenue or traffic, or whose primary purpose is affiliate marketing, will be suspended. Promotion of personal sites is allowed in some cases, so long as it is helpful, infrequent, and does not disrupt the user or community experience.</p>

	<p><strong>Identity Theft and Privacy:</strong> Users that misleadingly appropriate the identity of another person are not permitted. Users may not post other people's personally identifying or confidential information, including but not limited to card numbers and drivers' and other license numbers. You may not post information such as other people's passwords, usernames, phone numbers, addresses and e-mail addresses unless already publicly accessible on the Web.</p>
      
      <p><strong>Hate Content, Defamation, and Libel:</strong> Hate speech and other objectionable content that is unlawful, defamatory, fraudulent, wilfully inaccurate or libellous, is prohibited. Note that an allegation of defamatory expression, in and of itself, does not establish defamation. The truth or falsehood of a bit of expression is a key element in establishing defamation, and we are not in a position to make that sort of fact-based judgment. That said, if we have reason to believe that a particular statement is defamatory (a court order, for example), we will remove that statement.</p>
      
	<p><strong>Disruptions and Exploits:</strong> We will terminate accounts and block addresses of those who attempt unauthorized use of Budget 24/7.</p>

	<p><strong>Copyright:</strong> Using copyrighted material does not constitute infringement in all cases. In general, however, users should be careful when using copyrighted content without the permission of those who created it. It is our policy to respond to notices of alleged infringement that comply with the Digital Millennium Copyright Act ("DMCA").</p>

	<p><strong>Mass Registration and Automation:</strong> Accounts that are registered automatically or systematically will be removed and access will be permanently suspended.</p>

	<p>If you see comments that you believe are in violation of the above terms of use, please flag the content and/or contact us: <a href="mailto:FriendlySupport@budget247.com">FriendlySupport@budget247.com</a>.</p>
       
	</div>
      <!--End Right Content-->
</div>
  <!--End Content-->