<!--Begin Content-->
    <div id="content" class="grid_24">
        
        <h2 class="page-title">Privacy and Security Policy</h2>

        <!--Right Content-->
        <div id="full-width" class="grid_17 full-c">
        
        <h3>Permissions Policy</h3>

		<p><strong>Screen Shots</strong></p>
        <p>Screen shots are the individual screen displays contained within Bellerophon software applications and online services. You may make fair use of a limited number of screen shots for purely educational or illustrative purposes (e.g., educational guides, how-to books, training presentations, product reviews, etc.) provided you adhere to the following guidelines:</p>
        
        <ul style="list-style:decimal;">
        	<li>Your use may not directly or indirectly state or imply sponsorship, affiliation, or endorsement of your product or service by/with Bellerophon.</li>
            <li>You may not alter the screen shot in any way except to resize the screen shot in direct proportion to the original. Screen shots must be reproduced in their entirety.</li>
            <li>You may add commentary or other text analysis as long as it is very clearly attributable to you, and not to Bellerophon.</li>
            <li>You may not use screen shots from Bellerophon beta products or other products that are subject to non-disclosure obligations and/or that have not yet been commercially released by Bellerophon.</li>
            <li>You may not use screen shots that contain third-party content unless you separately seek and obtain permission from such third party to display its content.</li>
            <li>You must include the following copyright attribution statement on all materials containing Bellerophon screen shots: "Screen shots &copy; Bellerophon Corp. All rights reserved."</li>
            <li>If your materials include references to an Bellerophon product, the full name of the product with corresponding trademark symbol should be shown in plain text at the first and/or most prominent mention (i.e., Achieve<sup>&reg;</sup>, LifeBudgets<sup>&reg;</sup>) in such materials. When referencing any Bellerophon trademarks, please make sure your use complies with Bellerophon's Trademark Restrictions.</li>
            <li>Your use of Bellerophon's screen shots may not be incorporated into obscene or pornographic material, and may not, in Bellerophon's sole opinion, be disparaging, defamatory, or libellous to Bellerophon, any of its products, or any other person or entity.</li>
            
            <li>Your materials should not be mostly or solely composed of Bellerophon screen shots or other Bellerophon intellectual property. If Bellerophon screen shots or other Bellerophon intellectual property would represent the majority of the material you wish to reproduce and/or distribute, you should first write to Bellerophon seeking permission before publishing or distributing such content. Requests must be in writing and should be sent to Bellerophon via the email address below.</li>
		</ul>
        
        <p>If your use meets all the above criteria, no written permission is required. All other use of Bellerophon screen shots requires prior written permission from Bellerophon, including but not limited to any proposed use of screen shots in or for advertising, video, television, movies or commercials. If further written permission is required, please send a letter detailing your request to the email address listed below. Please allow a minimum of two (2) weeks for your request to be processed.</p>

		<p><strong>Bellerophon-authored User Guides</strong></p>
        <p>Bellerophon does not object to your use of short portions of Bellerophon-authored user guides for purely educational/instructional purposes only, provided you adhere to all of the following guidelines:</p>
		
        <ul style="list-style:decimal;">
        	<li>Your use may not directly or indirectly imply sponsorship, affiliation, or endorsement of your product or service by/with Bellerophon.</li>
            
            <li>You may reproduce no more than three chapters or other major sections of any product user guide, and such chapters may only be distributed to your students or 	clients for educational purposes. The Bellerophon copyright page of any corresponding product user guide must accompany all such copied chapters, and you may not hold yourself out as being the author of such material.</li>
            
            <li>You may not separately sell for a profit any portion of any Bellerophon-authored user guide.</li>
            <li>You may not alter a Bellerophon-authored user guide or any material contained therein in any way.</li>
            <li>Your use may not be incorporated with or into any obscene or pornographic material, and may not be disparaging, defamatory, or libellous to Bellerophon, any of its products, or any other person or entity.</li>
		</ul>
        
        <p>If your use meets the above criteria, no written permission is required. All other use of Bellerophon-authored user guides requires prior written permission from Bellerophon. If further written permission is required, send a letter detailing your request to the email address listed below. Please allow a minimum of two (2) weeks for your request to be processed.</p>
        
        <p><strong>Bellerophon Product Box Shots</strong></p>
        <p>Bellerophon product box shots are complete images of Bellerophon product boxes. You may not use Bellerophon box shots on your software, books or other commercial products or services, whether on packaging, book covers, brochures or other marketing materials, without written permission from an authorized representative of Bellerophon.</p>
        
        <p><strong>Reseller usage of product box shots:</strong></p>
        <p>The only use of Bellerophon box shots that may be made without Bellerophon's written permission is to display a box shot for the sole purpose of advertising for sale - on a stand-alone (non-bundled) basis - a valid license with accompanying authentic CDROM media for a Bellerophon product. All such uses AND the offer-for-sale they promote must be in compliance with:</p>
        
        <p>Bellerophon's or its licensed resellers' distribution requirements;</p>
        <p>The copyright laws of Nigeria and/or other applicable jurisdiction;<br>
Bellerophon's trademark and trade dress rights and Bellerophon's Trademark Restrictions;<br>
The respective End User License Agreement for such product(s); and</p>

		<p><strong>All of the following conditions:</strong></p>
        <ul style="list-style:decimal;">
			<li>Your use may not directly or indirectly imply Bellerophon sponsorship, affiliation, or endorsement where none exists.</li>
            
            <li>You may not make use of a Bellerophon box shot in the context of bundling your product or service with a Bellerophon product or service; only displays associated with stand-alone resale of Bellerophon product or service licenses may utilise the corresponding Bellerophon box shot.</li>
            
            <li>You may not alter the box shot in any way except to resize the box shot in direct proportion to the original.</li>
            
            <li>You may not use box shots from as-yet unreleased products that are subject to non-disclosure obligations.</li>
            
            <li>Your own company name and/or logo must be significantly different, contextually clear, and more prominent than the Bellerophon box shot, and must not be positioned in any way that could confuse consumers regarding your role as a reseller of the product licenses and accompanying media, (and not as the manufacturer or publisher of the product itself), or in any way that would otherwise violate #1 above.</li>
            
            <li>You should include the following attribution statement in all resale-related materials that include a Bellerophon box shot: "[Product Name] and [Product Name] box image are trademarks, trade dress and copyright Bellerophon Corp. All rights reserved."</li>
            
            <li>Your use may not be incorporated with or into any obscene or pornographic material, and may not be disparaging, defamatory, or libellous to Bellerophon, any of its products, or any other person or entity.</li>
		</ul>
        
        <p>If your resale-related use - made in the sole context of reselling valid Bellerophon product licenses and accompanying media - meets all of the above criteria, no written permission is required. All other use of Bellerophon product box shots requires prior written permission from Bellerophon, including use of box shots in video, television, movies or commercials. If further written permission is required, please send a formal request to the email address below. Please allow a minimum of two (2) weeks for your request to be processed.</p>
        
        <p><strong>Contact Information for Permission Requests:</strong></p>
        <p>Please send requests, as outlined above, to <a href="mailto:copyright@bellerophoncorp.com">copyright@bellerophoncorp.com</a></p>
      
		</div>
        <!--End Right Content-->
       
	</div>
    <!--End Content-->