<!--Begin Content-->
    <div id="content" class="grid_24">
        
        <h2 class="page-title">Pricing</h2>
		<div id="full-width" class="grid_17 full-c">
        	<div id="pricing">
                <p class="pricing-intro"><span>Congratulations! </span><br>You're already enjoying our 14 day free trial.<br> Having fun already?<br>
<a href="#" class="update-btn">Upgrade now!</a></p>
                
                
                <div id="plan-details">
                	<h5>Plan Details</h5>
                	<ul>
                    
                    	<li class="pd-cost">How much?</li>
                        <li class="pd-treasury" description="The Treasury is our community. Lend your voice, exchange ideas, teach if you can and learn by all means. We've created a crowdsourced resource for everyone who wants to understand money better."><span class="ttp"></span> Treasury</li>
					</ul>
                    
                    <ul>
						<li description="What events should you look out for in the coming week? Just chill, we've got you covered."><span class="ttp"></span>Week in Review</li>
                        
						<li description="Take advantage of our super-intuitive commenting system to drop a line and let us know what's on your mind."><span class="ttp"></span>Commenting</li>
                        
						<li description="Do you have a personal experience that will benefit others? Or maybe you're a professional writer? Care to guest author a post? We'll make it worth your while if you do. "><span class="ttp"></span>Contributing</li>
						<li description="So many users can't be wrong. Learn the commonalities that resonate within our community. You never know, you may even discover something new about yourself."><span class="ttp"></span>Weekly Trendfact<sup>TM</sup></li>
						<li description="Spare five seconds and answer a short and sweet survey."><span class="ttp"></span>Daily QuickPoll<sup>TM</sup></li>
                        
						<li description="Read from finance mavens, guest authors, and people like you. There is also a growing library of video content for your viewing pleasure. "><span class="ttp"></span>Blogs and Videos</li>
						
                        <li description="Ever needed to find out something but didn't know who to ask? Or had some enquiry that involved a little legwork and you couldn't break away to get it done? That's what MyMinion is for. Ask your question and if after a week you don't get a satisfactory answer from the community, we'll hit the pavement and get you answers."><span class="ttp"></span>MyMinion<sup>TM</sup></li>
					</ul>
                    
                    <ul>
                        
                        <li description="Our annual User's Choice Awards is a great way to recognise service providers who put you first. Use your vote wisely."><span class="ttp"></span>Voting rights</li>
                        
                        <li description="This is no game. We use the time-honoured principles from game mechanics to guide you along the path to financial independence. Just sit back and have fun."><span class="ttp"></span>Quests &amp; Challenges</li>
                        
                        <li description="Ajo is a fund to which a group of individuals make fixed contributions of money at fixed intervals; the total amount contributed by the entire group is assigned to each member in rotation."><span class="ttp"></span>Ajo<sup>TM</sup>app</li>
                        
                        <li description="Budgeting is what we do best. Take advantage of our intuitive tools to create a budget you'll want to stick to"><span class="ttp"></span>Lifebudgets<sup>TM</sup></li>
                        
                        <li description="Thinking of getting that Range Rover Supercharged, or maybe just a nice engagement ring for that special someone? Not sure how to start? We've got you covered."><span class="ttp"></span>Achieve<sup>TM</sup></li>
                        
                        <li description="We allow you create a bird's eye view of your finances by linking your bank accounts to your budgets so you can alter categories and receive feedback in real time. "><span class="ttp"></span>Create linked accounts</li>
                        <li description="We've built on the research of Abraham Maslow to explain how your spending and saving decisions are part of a larger theme. Maslow's hierarchy of needs is often portrayed in the shape of a pyramid, with the largest and most fundamental levels of needs at the bottom, and the need for self-actualization at the top"><span class="ttp"></span>Motivationfilter<sup>TM</sup></li>
                        
                        <li description="Catch up on all the really important stuff with your regular newsletter, available weekly, fortnightly and monthly."><span class="ttp"></span>Newsletter</li>
                        
                        <li description="One of the most overlooked part of creating a budget is creating a feedback loop that tell you when you're doing it wrong so you can course-correct. Now the power is in your hands to set up customisable alerts to help you keep track of whatever milestones are important to you. It could be a bill reminder or a low balance alert, the choices are endless."><span class="ttp"></span>Customisable SMS notifications</li>
                        
                        <li description="Build a cohort of up to 6 people to share tips and experiences with. You control how much you share and with whom. Draw strength from each other and support one another along your road to financial independence."><span class="ttp"></span>Budgeteers Social Network</li>
                        
                        <li description="Building on leading research from the arcane psychological field of behavioural finance, we bring you a test to help you better appreciate your financial personality. What makes you do what you do and can you control it? We'll answer those questions and more."><span class="ttp"></span>AcumenTests<sup>TM</sup></li>
                        
                        <li description="This test is qualitative in nature and helps assign a personality type to you based on your responses. You could be a Swashbuckler, Adherent, Livewire, Sovereign or Puritan. We'll explain what these personalities mean for your financial health."><span class="ttp"></span>TouchyFeely</li>
                        
                        <li description="This is a quantitative test and it draw heavily from the world of private banking, helping you piece together a mural of your true financial position in order to help you set attainable goals for yourself. How much leverage can you tolerate? What is your Networth? What savings level should you maintain to have enough set aside for retirement? With this tool, all these questions are a cinch."><span class="ttp"></span>HardFacts</li>
                        <li description="Download your financial reports and keep for posterity. Compare how your financial trajectory has progressed though time."><span class="ttp"></span>Advanced Report Download</li>
                        
                        <li description="Our dedicated and knowledgeable team of service champions is waiting to put that smile back on your face. Ask them anything, anytime."><span class="ttp"></span>Customer support</li>
                        
                        <li description="Do you require a one-to-one consultation? Would you require dedicated help with your finances? This is the service for you."><span class="ttp"></span>Private Financial Planner</li>
                    </ul>
                </div>
                
                <div id="pricing-details">
                	<div id="skimpy">
                    	<p class="price-category"><span>Skimpy</span>the young shall grow</p>
                        <ul>
                        	<li>Monthly Plan: &#8358;500</li>
                            <li>Annual Plan: &#8358;5,500</li>
                            <li class="pd-saving"><span></span>Over 8% in savings</li>
						</ul>
                               
                        <ul class="pd-grouped">
                            <li>Limited</li>
                            <li>Yes</li>
                            <li>Yes</li>
                            <li>Yes</li>
                            <li>Yes</li>
                            <li>Yes</li>
                            <li>Yes</li>
                            <li>No</li>
						</ul>
                       
                        <ul>
                            <li>No</li>
                            <li>Once in a while</li>
                            <li>Not a chance!</li>
                            <li>No way!</li>
                            <li>Nope</li>
                            <li>N/A</li>
                            <li>N/A</li>
                            <li>Monthly</li>
                            <li>I dey laugh!</li>
                            <li description="A group of up to 6 people that forms a mini-network to provide support to each other, ensuring no one is left behind in the march towards financial independence.">1 Cohort</li>
						</ul>
                        
                        <ul class="pd-grouped">
                            <li>Partial</li>
                            <li>1 trial</li>
                            <li>In your dreams!</li>
                        </ul>
                        
                        <ul>
                            <li>No</li>
                            <li>N/A</li>
                            <li>Is that a flying pig over there? </li>
                        </ul>
                        
                        <div class="pd-about">
							<p>Take it off! Upgrade to the <span>Skimpy </span>plan now.</p>
                        </div>
                        
						<a href="#" class="pd-btn">GET STARTED NOW</a>
                         
                    </div>
                    
                  
                    
                    <div id="clothed">
                    	<p class="price-category"><span>Clothed</span>All-time favourite plan</p>
                        <ul>
                        	<li>Monthly Plan: &#8358;2,000</li>
                            <li>Annual Plan: &#8358;21,600</li>
                            <li class="pd-saving"><span></span>Get 10% instant savings</li>
						</ul>
                        
                        <ul class="pd-grouped" style="width:269px !important;">
                            <li>Full</li>
                            <li>Yes</li>
                            <li>Yes</li>
                            <li>Yes</li>
                            <li>Yes</li>
                            <li>Yes</li>
                            <li>Yes</li>
                            <li>Yes</li>
						</ul>
                        
                        <ul>
                            <li>Yes</li>
                            <li>Yes</li>
                            <li>1 Plan</li>
                            <li>Yes</li>
                            <li>Yes</li>
                            <li>1 account</li>
                            <li>Yes</li>
                            <li>Fortnightly</li>
                            <li>Up to 3 notifications</li>
                            <li description="A group of up to 6 people that forms a mini-network to provide support to each other, ensuring no one is left behind in the march towards financial independence.">Up to 5 Cohorts</li>
						</ul>
                        
                        <ul class="pd-grouped" style="width:269px !important;">
                            <li>Limited</li>
                            <li>Unlimited </li>
                            <li>Every 6 months</li>
                        </ul>
                        
                        <ul>
                            <li>Yes</li>
                            <li>Awesome daytime support</li>
                            <li>No. Sorry.</li>
                        </ul>
                        
                        <div class="pd-about">
							<p>You've eaten the forbidden fruit, now you know what's up. Upgrade &amp; get <span>Clothed</span> now</p>
                        </div>
                        
                        <a href="#" class="pd-btn">GET STARTED NOW</a>


                    </div>

                    <div id="armoured">
                    	<p class="price-category"><span>Armoured</span>when you're big, you're big</p>
                        <ul>
                        	<li class="armoured-first">Call US</li>
                        </ul>
                        
                        <ul class="pd-grouped">
                            <li>Full</li>
                            <li>Yes</li>
                            <li>Yes</li>
                            <li>Yes</li>
                            <li>Yes</li>
                            <li>Yes</li>
                            <li>Yes</li>
                            <li>Yes</li>
						</ul>
                        
                        <ul>
                            <li>Yes</li>
                            <li>Yes</li>
                            <li>Unlimited plans</li>
                            <li>Absolutely!</li>
                            <li>For sure!</li>
                            <li>Unlimited accounts</li>
                            <li>Yes</li>
                            <li>Weekly, fortnightly,.. you decide</li>
                            <li>Unlimited</li>
                            <li description="A group of up to 6 people that forms a mini-network to provide support to each other, ensuring no one is left behind in the march towards financial independence.">Unlimited Cohorts</li>
						</ul>
                        
						<ul class="pd-grouped">
                            <li>Comprehensive</li>
                            <li>Unlimited</li>
                            <li>Unlimited</li>
						</ul>
                            <li>Yes</li>
                            <li>Mind-blowing anytime support</li>
                            <li>Yes</li>
                        </ul>
                        
                        <div class="pd-about">
							<p style="margin-bottom:0px;">Ready to get out of the financial doldrums &amp; slay your money dragons? Get <span>Armoured</span></p>
                        </div>
                        
                        <a href="#" class="pd-btn">GET STARTED NOW</a>
                        
                    </div>
                </div>
                
                 <div class="clear"></div>
                 
                <p class="pricing-end">For the price of a heavy lunch+drinks, you could be 
laying the foundation for your financial independence<br><br>

				... and having mad fun doing it!<br><br>
				<strong>Skip lunch today.</strong>
</p>


            </div>
            
            <p>Or are you part of the <span description="We are the 99% is a political slogan widely used by the Occupy movement and popularised by the media. It is a reflection of the distribution of wealth in most populations and indirectly refers to the concentration of income and wealth among the top earning 1%, and goes to show that the others - '99% are paying the price for the mistakes of a very tiny yet powerful minority." class="nn-title">99%</span> and in need of a further subsidy? If so, we have a 'FREE'ish plan:</p>

            <ul style="list-style:square inside; margin-left:30px;">
            	<li>Send a tweet <a href="#" class="send_tweet"></a></li>
                <li>Like <a href="#" class="fb_like"></a> some of the great stuff we're doing, AND</li>
                <li>Shoot us a +1 <a href="#" class="gplus"></a> </li>
			</ul>
            
            <p>each week to retain SKIMPY access </p>
                 
            <div id="pricing-faq">
                <p><strong>HOW LONG ARE YOUR CONTRACTS?</strong></p>
                <p>Budget 24/7 plans are month-to-month, or yearly. We make it simple to start - and stop - your service at any time.</p>
                
                <p><strong>IS THERE A DISCOUNT FOR YEARLY SERVICE?</strong></p>
                <p>Yes, we offer discounts on up-front long-term commitments.</p>
                
                <p><strong>CAN I DOWNLOAD Budget 24/7?</strong></p>
                <p>No. this is a fully-managed web service. We do not have plans to make a downloadable version. Budget 24/7 does provide many standard methods for exporting your data.</p>
                
                <p><strong>HOW DO I SIGN UP?</strong></p>
                <p>You start with a free trial. Pay nothing until you've determined Budget 24/7 is the right product for you. When you do decide, we make it easy for you to do so with myriad payment options.</p>
                
                <p><strong>WHAT HAPPENS AT THE TRIAL END?</strong></p>
                <p>Our Budget 24/7 support team will email you before your trial expires. You can choose one of three plans and pay by card inside the product or contact our sales team if you wish to pay by invoice (annual payments and armoured plan only). Your trial account will become your permanent account (all of your customizations, data, and actions remain intact).</p>
                
                <p><strong>HOW DO I CANCEL SERVICE?</strong></p>
                <p>Cancelling Budget 24/7 is an easy and no-questions-asked process. </p>
                
                <p><strong>CAN I SWITCH PLANS?</strong></p>
                <p>Yes, at any time. When upgrading or downgrading your plan, you will receive either a pro-rated charge or refund, depending on the cost of the new plan. </p>
                
                <p><strong>WHAT IS MEANT BY UNLIMITED?</strong></p>
                <p>Certain Budget 24/7 packages do not have usage limits for certain features.</p>
                
                <p><strong>HAVE MORE QUESTIONS?</strong></p>
                <p>Our support team is available 24/7 and usually responds in well under an hour. Visit our Help & Support Center to contact them.</p>
            
               
            </div>
		</div>
      
	</div>
    <!--End Content-->