<div id="content" class="grid_24">
        
        <h2 class="page-title">Sundry Legal Information</h2>

        <!--Right Content-->
        <div id="full-width" class="grid_17 full-c">
        
		<p><strong>Patent Information</strong></p>
        <p>Features and services within Bellerophon products may be the subject matter of pending and issued patents assigned to Bellerophon Corp.</p>
        
        <p><strong>Trademark Information</strong></p>
        <p>Bellerophon, the Bellerophon logo, Ajo, LifeBudgets, Achieve, AcumenTests, MotivationFilter and Budgeteers, among others, are registered trademarks and/or registered service marks of Bellerophon Corp., or one of its subsidiaries, in Nigeria and other countries. For more information on Bellerophon's trademarks, please see our Trademark Information and Restrictions page.</p>
        
        <p><strong>Copyright Information</strong></p>
        <p>Bellerophon's products, services, Web content and related materials (collectively, "Offerings") are owned by Bellerophon and/or its licensors, and all rights in such Offerings are reserved by Bellerophon and/or its licensors. For information regarding permission to use screen displays and other content, please see Bellerophon's Permissions Policy.</p>
        
        <p>Bellerophon's Anti-Piracy Information resource provides basic information on software piracy and its negative effects on businesses and consumers, including the risks associated with purchasing or using counterfeit CD media. This resource also includes information on how to check certain products for authenticity and how to report piracy directly to Bellerophon.</p>

		<p><strong>Notices of Infringement</strong></p>
        <p>Persons who believe that their copyrights have been infringed via Bellerophon sites may notify Bellerophon's Designated Agent. All notices must comply with the requirements of Nigerian Copyright Law and regulations promulgated thereunder, each as amended. Such notices not complying with these requirements will be returned unprocessed. No other notices or inquiries of any type, including requests for information, purchase or technical support questions, notices of infringement of third-party trademark or patent rights, employment inquiries, press inquiries, or investor inquiries, will be read or answered under this Agent and Agent Address.</p>

		<p><strong>Designated Agent and Address of Agent:</strong></p>
		<p>Attn: Legal Department - Copyright Agent<br>
		Bellerophon Corp.<br>
		3 Omobola Close,<br>
		Surulere, 101283<br>
		Email: <a href="mailto:copyright@bellerophoncorp.com">copyright@bellerophoncorp.com</a></p>

		<p><strong>Risk of Loss</strong></p>
        <p>All items purchased and shipped from Bellerophon are fulfilled pursuant to a shipment contract between Bellerophon and our carriers. This means that both the risk of loss and title for such items pass to you upon our delivery of the items to the carrier.</p>
        
        <p><strong>Licensing and Support</strong></p>
        <p>For licensing and product support related inquiries, please refer to <a href="www.bellerophoncorp.com/support" target="_blank">www.bellerophoncorp.com/support.</a></p>



      
		</div>
        <!--End Right Content-->
       
	</div>