<div id="content" class="grid_24">
        
        <h2 class="page-title">Terms of Use</h2>

        <!--Right Content-->
        <div id="full-width" class="grid_17 full-c">
        
        <p>This Agreement sets forth the terms and conditions that apply to your access and use of the Internet Web site located at www.budget247.com ("Budget 24/7"), as owned and operated by Bellerophon Corp., a Nigerian company, on behalf of those of its direct or indirect subsidiaries and/or affiliates, (collectively referred to as "Bellerophon"). By using Budget 24/7 you agree to be bound by the terms and conditions of this Agreement and Budget 24/7's Privacy and Security Policy, as they may be amended from time to time in the future (see "Modifications" below).</p>

		<ul>
            <li><a href="#term1">Accepting the Terms</a></li>
            <li><a href="#term2">Privacy and your Personal Information</a></li>
            <li><a href="#term3">Description of the Service</a></li>
            <li><a href="#term4">Account Information from Third Party Sites</a></li>
            <li><a href="#term5">Budget 24/7 Offers and Third-Party Links</a></li>
            <li><a href="#term6">Your Registration Information</a></li>
            <li><a href="#term7">Your Use of the Service</a></li>
            <li><a href="#term8">Use With Your Mobile Device</a></li>
            <li><a href="#term9">Online and Mobile Alerts</a></li>
            <li><a href="#term10">Rights You Grant to Us</a></li>
            <li><a href="#term11">Budget 24/7's Intellectual Property Rights</a></li>
            <li><a href="#term12">Access and Interference</a></li>
            <li><a href="#term13">Rules for Posting</a></li>
            <li><a href="#term14">Social Media Sites</a></li>
            <li><a href="#term15">Disclaimer of Representations and Warranties</a></li>
            <li><a href="#term16">Not a Financial Planner, Broker or Tax Advisor</a></li>
            <li><a href="#term17">Alert Disclaimer</a></li>
            <li><a href="#term18">Limitations on Budget 24/7's Liability</a></li>
            <li><a href="#term19">Your Indemnification of Budget 24/7</a></li>
            <li><a href="#term20">Ending your relationship with Budget 24/7</a></li>
            <li><a href="#term21">Modifications</a></li>
            <li><a href="#term22">Governing Law and Forum for Disputes</a></li>
            <li><a href="#term23">Miscellaneous</a></li>
            <li><a href="#term24">Budget 24/7 Quickview</a></li>
            <li><a href="#term25">Apple Requirements</a></li>
        </ul>
        
        <a name="term1"></a>
        <p><strong>1. Accepting the Terms</strong></p>
        <p>By using the information, tools, software, features and functionality including content, updates and new releases located on Budget 24/7 (together the "Service"), you agree to be bound by this Agreement, whether you are a "Visitor" (which means that you simply browse the Budget 24/7 website) or you are a "Member" (which means that you have registered with budget247.com). The term "you" or "User" refers to a Visitor or a Member. The term "we" refers to Bellerophon. If you wish to become a Member, communicate with other Members and make use of the Service, you must read this Agreement and indicate your acceptance during the Registration process.</p>

		<p>You may not use the Service and you may not accept this Agreement if you are not of a legal age to form a binding contract with Bellerophon.</p>
        
        <p>If you accept this Agreement, you represent that you have the capacity to be bound by it or if you are acting on behalf of a company or entity that you have the authority to bind such entity. Before you continue, you should print or save a local copy of this Agreement for your records.</p>
        
        <a name="term2"></a>
		<p><strong>2. Privacy and your Personal Information</strong></p>
        <p>For information about Bellerophon's data protection practices, please read Budget 24/7 Privacy and Security Policy, which is hereby incorporated into this Agreement. This policy explains how Bellerophon treats your personal information when you access Budget 24/7 and use the Service. The policy may be updated from time to time at our discretion. Changes will be effective upon posting to the site.</p>
        
        <a name="term3"></a>
        <p><strong>3. Description of the Service</strong></p>
        <p>The Service is a personal finance information management service that allows Members to consolidate and track their financial information on Budget 24/7. Based on such information, the Service may also present information relating to third party products or services ("Offers").</p>
        
        <p>The Service is provided to you by Bellerophon at a nominal charge and is meant as an aid to assist you in organizing and managing your finances. It is not intended to provide legal, tax or financial advice.</p>
		
        <a name="term4"></a>
        <p><strong>4. Account Information from Third Party Sites</strong></p>
        <p>With the Service, Members may direct Bellerophon to retrieve their own information maintained online by third-party financial institutions with which they have customer relationships, maintain accounts or engage in financial transactions ("Account Information"). Bellerophon works with one or more online financial service providers under contract to access this Account Information. Bellerophon makes no effort to review the Account Information for any purpose, including but not limited to accuracy, legality or non-infringement. Bellerophon is not responsible for the products and services offered by or on third-party sites.</p>
        
        <p>Bellerophon cannot always foresee or anticipate technical or other difficulties which may result in failure to obtain data or loss of data, personalization settings or other service interruptions. Bellerophon cannot assume responsibility for the timeliness, accuracy, deletion, non-delivery or failure to store any user data, communications or personalization settings. For example, when displayed through the Service, Account Information is only as fresh as the time shown, which reflects when the information is obtained from such sites. Such information may be more up-to-date when obtained directly from the relevant sites. You can refresh your Account Information through the Service, in the manner prescribed in the associated instructions.</p>
        
        <a name="term5"></a>
        <p><strong>5. Bellerophon Offers and Third-Party Links</strong></p>
        <p>Some parts of the Service are supported by sponsored links from advertisers and display Bellerophon Offers that may be custom matched to you based on information stored in the Service, queries made through the Service or other information. We will always disclose when a particular Bellerophon Offer is sponsored.</p>

		<p>In connection with Bellerophon Offers, the Service will provide links to other web sites belonging to Bellerophon advertisers and other third parties. Bellerophon does not endorse, warrant or guarantee the products or services available through the Bellerophon Offers (or any other third-party products or services advertised on or linked from our site), whether or not sponsored, and Bellerophon is not an agent or broker or otherwise responsible for the activities or policies of those web sites. Bellerophon does not guarantee that the loan, investment, plan or other service terms, rates or rewards offered by any particular advertiser or other third party on Budget 24/7 are actually the terms that may be offered to you if you pursue the offer or that they are the best terms or lowest rates available in the market.</p>
        
        <a name="term6"></a>
		<p><strong>6. Your Registration Information</strong></p>
        <p>You agree and understand that you are responsible for maintaining the confidentiality of your password which, together with your Login ID e-mail address, allows you to access the Service. That Login ID and password, together with any mobile number or other contact information you provide form your "Registration Information."</p>

		<p>By providing us with your e-mail address, you agree to receive all required notices electronically, to that e-mail address. It is your responsibility to update or change that address, as appropriate. Notices will be provided in HTML (or, if your system does not support HTML, in plain-text) in the text of the e-mail or through a link to the appropriate page on our site, accessible through any standard, commercially available internet browser.</p>
        
		<p>If you become aware of any unauthorized use of your Registration Information, you agree to notify Bellrophon immediately at the email address - <a href="mailto:security@budget247.com">security@budget247.com</a>.</p>
		<a name="term7"></a>
		<p><strong>7. Your Use of the Service</strong></p>
        <p>Your right to access and use Budget 24/7 and the Service is personal to you and is not transferable by you to any other person or entity. You are only entitled to access and use Budget 24/7 for lawful purposes.</p>

		<p>Accurate records enable Bellerophon to provide the Service to you. You must provide true, accurate, current and complete information about your accounts maintained at other web sites, as requested in our "add account" setup forms, and you may not misrepresent your Registration Information. In order for the Service to function effectively, you must also keep your Registration Information up to date and accurate. If you do not do this, the accuracy and effectiveness of the Service to you will be affected.</p>
        
        <p>Your access and use of Budget 24/7 may be interrupted from time to time for any of several reasons, including, without limitation, the malfunction of equipment, periodic updating, maintenance or repair of Budget 24/7 or other actions that Bellerophon, in its sole discretion, may elect to take.</p>
        
		<p>From time to time, Bellerophon may include new and/or updated pre-release features and trial use ("Sneak Preview" features) in the Service for your use and which permit you to provide feedback. You understand and agree that your use of Sneak Preview features is voluntary and Bellerophon is not obligated to provide you with any Sneak Preview features. Furthermore, if you decide to use the Sneak Preview features you agree to abide by any rules or restrictions Bellerophon may place on them. You understand that once you use the Sneak Preview features, you may be unable to revert back to the earlier version of the same or similar feature. Additionally, if such reversion is possible, you may not be able to return or restore data created within the Sneak Preview feature back to the earlier version. The Sneak Preview features are provided on an "as is" basis and may contain errors or inaccuracies that could cause failures, corruption or loss of data and/or information from any connected device. You acknowledge and agree that all use of the Sneak Preview features is at your sole risk.</p>
        
		<p>You agree that Bellerophon may use your feedback, suggestions, or ideas in any way, including in future modifications of the Service, other products or services, advertising or marketing materials. You grant Bellerophon a perpetual, worldwide, fully transferable, sublicensable, irrevocable, fully paid-up, royalty free license to use the feedback you provide to Bellerophon in any way. Bellerophon will not sell, publish or share your feedback in a way that could identify you without your explicit permission.</p>
        
		<a name="term8"></a>
		<p><strong>8. Use With Your Mobile Device</strong></p>
        <p>Use of these Service may be available through a compatible mobile device, Internet and/or network access and may require software. You agree that you are solely responsible for these requirements, including any applicable changes, updates and fees as well as the terms of your agreement with your mobile device and telecommunications provider. BELLEROPHON MAKES NO WARRANTIES OR REPRESENTATIONS OF ANY KIND, EXPRESS, STATUTORY OR IMPLIED AS TO: (i) THE AVAILABILITY OF TELECOMMUNICATION SERVICES FROM YOUR PROVIDER AND ACCESS TO THE SERVICES AT ANY TIME OR FROM ANY LOCATION; (ii) ANY LOSS, DAMAGE, OR OTHER SECURITY INTRUSION OF THE TELECOMMUNICATION SERVICES; AND (iii) ANY DISCLOSURE OF INFORMATION TO THIRD PARTIES OR FAILURE TO TRANSMIT ANY DATA, COMMUNICATIONS OR SETTINGS CONNECTED WITH THE SERVICES.</p>
		
        <a name="term9"></a>
		<p><strong>9. Online and Mobile Alerts</strong></p>
        <p>Bellerophon may from time to time provide automatic alerts and voluntary account-related alerts.</p>
        
        <p>Automatic alerts may be sent to you following certain changes made online to your Bellerophon account, such as a change in your Registration Information.</p>
        
        <p>Voluntary account alerts may be turned on by default as part of the Service. They may then be customized, deactivated or reactivated by you. These alerts allow you to choose alert messages for your accounts. Bellerophon may add new alerts from time to time, or cease to provide certain alerts at any time upon its sole discretion. Each alert has different options available, and you may be asked to select from among these options upon activation of your alerts service.</p>
        
        <p>Electronic alerts will be sent to the email address you have provided as your primary email address for Budget 24/7. If your email address or your mobile device's email address changes, you are responsible for informing us of that change. You can also choose to have alerts sent to a mobile device that accepts text messages. Changes to your email address or mobile number will apply to all of your alerts.</p>

		<p>Because alerts are not encrypted, we will never include your passcode. However, alerts may include your Budget 24/7 Login ID and some information about your accounts. Depending upon which alerts you select, information such as an account balance or the due date for your credit card payment may be included. Anyone with access to your email will be able to view the content of these alerts. At any time you may disable future alerts.</p>
		
        <a name="term10"></a>
		<p><strong>10. Rights You Grant to Us</strong></p>
		<p>By submitting information, data, passwords, usernames, PINs, other log-in information, materials and other content to Bellerophon through the Service, you are licensing that content to Bellerophon solely for the purpose of providing the Service. Bellerophon may use and store the content, but only to provide the Service to you. By submitting this content to Bellerophon, you represent that you are entitled to submit it to Bellerophon for use for this purpose, without any obligation by Bellerophon to pay any fees or other limitations.</p>
        
		<p>By using the Service, you expressly authorize Bellerophon to access your Account Information maintained by identified third parties, on your behalf as your agent. When you use the "Add Accounts" feature of the Service, you will be directly connected to the website for the third party you have identified. Bellerophon will submit information including usernames and passwords that you provide to log you into the site. You hereby authorize and permit Bellerophon to use and store information submitted by you to the Service (such as account passwords and user names) to accomplish the foregoing and to configure the Service so that it is compatible with the third party sites for which you submit your information. For purposes of this Agreement and solely to provide the Account Information to you as part of the Service, you grant Bellerophon a limited power of attorney, and appoint Bellerophon as your attorney-in-fact and agent, to access third party sites, retrieve and use your information with the full power and authority to do and perform each thing necessary in connection with such activities, as you could do in person. YOU ACKNOWLEDGE AND AGREE THAT WHEN BELLEROPHON IS ACCESSING AND RETRIEVING ACCOUNT INFORMATION FROM THIRD PARTY SITES, BELLEROPHON IS ACTING AS YOUR AGENT, AND NOT AS THE AGENT OF OR ON BEHALF OF THE THIRD PARTY. You understand and agree that the Service is not sponsored or endorsed by any third parties accessible through the Service.</p>
		
        <a name="term11"></a>
		<p><strong>11. Bellerophon's Intellectual Property Rights</strong></p>
        <p>The contents of Budget 24/7, including its "look and feel" (e.g., text, graphics, images, logos and button icons), photographs, editorial content, notices, software (including html-based computer programs) and other material are protected under both Nigerian and other applicable copyright, trademark and other laws. The contents of Budget 24/7 belong or are licensed to Bellerophon or its software or content suppliers. Bellerophon grants you the right to view and use Budget 24/7 subject to these terms. You may download or print a copy of information provided on Budget 24/7 for your personal, internal and non-commercial use only. Any distribution, reprint or electronic reproduction of any content from Budget 24/7 in whole or in part for any other purpose is expressly prohibited without our prior written consent.</p>
        
        <a name="term12"></a>
		<p><strong>12. Access and Interference</strong></p>
        <p>You agree that you will not:</p>
        
        <ul>
        	<li>Use any robot, spider, scraper, deep link or other similar automated data gathering or extraction tools, program, algorithm or methodology to access, acquire, copy or monitor Budget 24/7 or any portion of Budget 24/7, without Bellerophon's express written consent, which may be withheld in Bellerophon's sole discretion;</li>
            <li>Use or attempt to use any engine, software, tool, agent, or other device or mechanism (including without limitation browsers, spiders, robots, avatars or intelligent agents) to navigate or search Budget 24/7, other than the search engines and search agents available through the Service and other than generally available third-party web browsers (such as Microsoft Explorer);</li>
            
            <li>Post or transmit any file which contains viruses, worms, Trojan horses or any other contaminating or destructive features, or that otherwise interfere with the proper working of Budget 24/7 or the Service; or</li>
			
            <li>Attempt to decipher, decompile, disassemble, or reverse-engineer any of the software comprising or in any way making up a part of Budget 24/7 or the Service.</li>
		</ul>
        
        <a name="term13"></a>
		<p><strong>13. Rules for Posting</strong></p>
        <p>As part of the Service, Bellerophon allows Members to post content on bulletin boards, blogs and at various other publicly available locations on Budget 24/7. These forums may be hosted by Bellerophon or by one of our third party service providers on Bellerophon's behalf. You agree in posting content to follow certain rules.</p>
		
        <ul>
        	<li>You are responsible for all content you submit to Budget 24/7.</li>
            <li>By submitting content to us, you represent that you have all necessary rights and hereby grant us a perpetual, worldwide, non-exclusive, royalty-free, sublicenseable and transferable license to use, reproduce, distribute, prepare derivative works of, modify, display, and perform all or any portion of the content in connection with Budget 24/7 and our business, including without limitation for promoting and redistributing part or all of the site (and derivative works thereof) in any media formats and through any media channels. You also hereby grant each User a non-exclusive license to access your posted content through Budget 24/7, and to use, reproduce, distribute, prepare derivative works of, display and perform such content as permitted through the functionality of Budget 24/7 and under this Agreement.</li>
            <li>You may not post or transmit any message which is libellous or defamatory, or which discloses private or personal matters concerning any person. You may not post or transmit any message, data, image or program that is indecent, obscene, pornographic, harassing, threatening, abusive, hateful, racially or ethnically offensive; that encourages conduct that would be considered a criminal offense, give rise to civil liability or violate any law; or that is otherwise inappropriate.</li>
            <li>You may not post or transmit any message, data, image or program that would violate the property rights of others, including unauthorized copyrighted text, images or programs, trade secrets or other confidential proprietary information, and trademarks or service marks used in an infringing fashion.</li>
            <li>You may not interfere with other Users' use of the Service, including, without limitation, disrupting the normal flow of dialogue in an interactive area of Budget 24/7, deleting or revising any content posted by another person or entity, or taking any action that imposes a disproportionate burden on the Service infrastructure or that negatively affects the availability of the Service to others.</li>
            <li>Except where expressly permitted, you may not post or transmit charity requests; petitions for signatures; franchises, distributorship, sales representative agency arrangements, or other business opportunities (including offers of employment or contracting arrangements); club memberships; chain letters; or letters relating to pyramid schemes. You may not post or transmit any advertising, promotional materials or any other solicitation of other users to use goods or services except in those areas (e.g., a classified bulletin board) that are designated for such purpose.</li>
            <li>You agree that any employment or other relationship you form or attempt to form with an employer, employee, or contractor whom you contact through areas of Budget 24/7 that may be designated for that purpose is between you and that employer, employee, or contractor alone, and not with us.</li>
            <li>You may not copy or use personal identifying or business contact information about other Users without their permission. Unsolicited e-mails, mailings, telephone calls, or other communications to individuals or companies whose contact details you obtain through the Service are prohibited.</li>
            <li>You agree that we may use any feedback, suggestions, or ideas you post in any way, including in future modifications of the Service, other products or services, advertising or marketing materials. You grant us a perpetual, worldwide, fully transferable, sublicensable, non-revocable, fully paid-up, royalty free license to use the feedback you provide to us in any way.</li>
            <li>You acknowledge that Bellerophon uses our third party service provider, Salesforce, Inc. ("Desk.com") to help us provide, host and operate the "Support" area of the Service. You agree that if you choose to participate in, or post content to, the "Support" area of the Service (located at the domain budget247.Desk.com), such as by posting a new topic, following a topic or replying to an existing topic, then you agree to also comply with Salesforce's Terms of Use and Community Guidelines, in addition to the terms of this Agreement.</li>
            </ul>
            
            <a name="term14"></a>
			<p><strong>14. Social Media Sites</strong></p>
            <p>Bellerophon may provide experiences on social media platforms such as FacebookВ®, TwitterВ® and LinkedInВ® that enable online sharing and collaboration among users who have registered to use them. Any content you post, such as pictures, information, opinions, or any Personal Information that you make available to other participants on these social platforms, is subject to the Terms of Use and Privacy Policies of those platforms. Please refer to those social media platforms to better understand your rights and obligations with regard to such content.</p>
			
            <a name="term15"></a>
			<p><strong>15. Disclaimer of Representations and Warranties</strong></p>
            <p>THE CONTENT AND ALL SERVICES AND PRODUCTS ASSOCIATED WITH BUDGET 24/7 OR PROVIDED THROUGH THE SERVICE (WHETHER OR NOT SPONSORED) ARE PROVIDED TO YOU ON AN "AS-IS" AND "AS AVAILABLE" BASIS. BELLEROPHON MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE CONTENT OR OPERATION OF BUDGET 24/7 OR OF THE SERVICE. YOU EXPRESSLY AGREE THAT YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK.</p>

			<p>BELLEROPHON MAKES NO REPRESENTATIONS, WARRANTIES OR GUARANTEES, EXPRESS OR IMPLIED, REGARDING THE ACCURACY, RELIABILITY OR COMPLETENESS OF THE CONTENT ON BUDGET 24/7 OR OF THE SERVICE (WHETHER OR NOT SPONSORED), AND EXPRESSLY DISCLAIMS ANY WARRANTIES OF NON-INFRINGEMENT OR FITNESS FOR A PARTICULAR PURPOSE. BELLEROPHON MAKES NO REPRESENTATION, WARRANTY OR GUARANTEE THAT THE CONTENT THAT MAY BE AVAILABLE THROUGH THE SERVICE IS FREE OF INFECTION FROM ANY VIRUSES OR OTHER CODE OR COMPUTER PROGRAMMING ROUTINES THAT CONTAIN CONTAMINATING OR DESTRUCTIVE PROPERTIES OR THAT ARE INTENDED TO DAMAGE, SURREPTITOUSLY INTERCEPT OR EXPROPRIATE ANY SYSTEM, DATA OR PERSONAL INFORMATION.</p>
			
            <a name="term16"></a>
            <p><strong>16. Not a Financial Planner, Broker or Tax Advisor</strong></p>
            <p>NEITHER BELLEROPHON NOR THE SERVICE IS INTENDED TO PROVIDE LEGAL, TAX OR FINANCIAL ADVICE. BELLEROPHON IS NOT A FINANCIAL PLANNER, BROKER OR TAX ADVISOR. The Service is intended only to assist you in your financial organization and decision-making and is broad in scope. Your personal financial situation is unique, and any information and advice obtained through the Service may not be appropriate for your situation. Accordingly, before making any final decisions or implementing any financial strategy, you should consider obtaining additional information and advice from your accountant or other financial advisers who are fully aware of your individual circumstances.</p>
			
            <a name="term17"></a>
            <p><strong>17. Alert Disclaimer</strong></p>
            <p>You understand and agree that any alerts provided to you through the Service may be delayed or prevented by a variety of factors. Bellerophon does its best to provide alerts in a timely manner with accurate information. However, we neither guarantee the delivery nor the accuracy of the content of any alert. You also agree that Bellerophon shall not be liable for any delays, failure to deliver, or misdirected delivery of any alert; for any errors in the content of an alert; or for any actions taken or not taken by you or any third party in reliance on an alert.</p>
			
            <a name="term18"></a>
            <p><strong>18. Limitations on Bellerophon's Liability</strong></p>
            <p>BELLEROPHON SHALL IN NO EVENT BE RESPONSIBLE OR LIABLE TO YOU OR TO ANY THIRD PARTY, WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY, LIQUIDATED OR PUNITIVE DAMAGES, INCLUDING BUT NOT LIMITED TO LOSS OF PROFIT, REVENUE OR BUSINESS, ARISING IN WHOLE OR IN PART FROM YOUR ACCESS TO BUDGET 24/7, YOUR USE OF THE SERVICE OR THIS AGREEMENT, EVEN IF BELLEROPHON HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. NOTWITHSTANDING ANYTHING TO THE CONTRARY IN THIS AGREEMENT, BELLEROPHON'S LIABILITY TO YOU FOR ANY CAUSE WHATEVER AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO N5000.00 (FIVE THOUSAND NIGERIAN NAIRA).</p>
            
            <a name="term19"></a>
            <p><strong>19. Your Indemnification of Bellerophon</strong></p>
            <p>You shall defend, indemnify and hold harmless Bellerophon and its officers, directors, shareholders, and employees, from and against all claims and expenses, including but not limited to attorney's fees, in whole or in part arising out of or attributable to any breach of this Agreement by you.</p>
            
			<a name="term20"></a>
            <p><strong>20. Ending your relationship with Bellerophon</strong></p>
            <p>This Agreement will continue to apply until terminated by either you or Bellerophon as set out below. If you want to terminate your legal agreement with Bellerophon, you may do so by closing your account for the Service.</p>
			
            <p>Please use the directions below to cancel your account:</p>
            <ul>
            	<li>Login to your Budget 24/7 account.</li>
                <li>Go to "Your Profile".</li>
                <li>Locate the "delete Budget 24/7 account" option under "More Options".</li>
                <li>Type in "delete" where prompted.</li>
                <li>Enter in the password for your Budget 24/7 account.</li>
                <li>Press "Yes"</li>
                <li>Your account will be closed and your ability to log in deactivated immediately. Your Budget 24/7 account data will be removed within 48 hours subject to and as explained in our Privacy Policy.</li>
			</ul>

			<p>Bellerophon may at any time, terminate its legal agreement with you:</p>
            <ul style="list-style:lower-alpha;">
				<li>If you have breached any provision of this Agreement (or have acted in a manner which clearly shows that you do not intend to, or are unable to comply with the provisions of this Agreement);</li>
                <li>If Bellerophon in its sole discretion believes it is required to do so by law (for example, where the provision of the Service to you is, or becomes, unlawful); or</li>
                <li>Immediately upon notice, to the e-mail address provided by you as part of your Registration Information.</li>
			</ul>
			
            <a name="term21"></a>
            <p><strong>21. Modifications</strong></p>
            <p>Bellerophon may modify this Agreement from time to time. Any and all changes to this Agreement will be posted on the Budget 24/7 site. In addition, the Agreement will always indicate the date it was last revised. You are deemed to accept and agree to be bound by any changes to the Agreement when you use the Service after those changes are posted.</p>
			
            <a name="term22"></a>
            <p><strong>22. Governing Law and Forum for Disputes</strong></p>
            <p>This Agreement, and your relationship with Bellerophon under this Agreement, shall be governed by the laws of Nigeria without regard to its conflict or choice of laws provisions. Any dispute with Bellerophon, or its officers, directors, employees, agents or affiliates, arising under or in relation to this Agreement shall be resolved exclusively through the small-claims court, except with respect to imminent harm requiring temporary or preliminary injunctive relief in which case Bellerophon may seek such relief in any court with jurisdiction over the parties. You understand that, in return for agreement to this provision, Bellerophon is able to offer the Service at the terms designated, with minimal charge to you, and that your assent to this provision is an indispensable consideration to this Agreement.</p>
			
            <p>You also acknowledge and understand that, with respect to any dispute with Bellerophon, its officers, directors, employees, agents or affiliates, arising out of or relating to your use of the Service or this Agreement:</p>
            <ul>
            	<li>YOU ARE GIVING UP YOUR RIGHT TO HAVE A TRIAL BY JURY; and</li>
                <li>YOU ARE GIVING UP YOUR RIGHT TO SERVE AS A REPRESENTATIVE, AS A PRIVATE ATTORNEY GENERAL, OR IN ANY OTHER REPRESENTATIVE CAPACITY, OR TO PARTICIPATE </li>
			</ul>
            
            <p>AS A MEMBER OF A CLASS OF CLAIMANTS, IN ANY LAWSUIT INVOLVING ANY SUCH DISPUTE.</p>
			
            <a name="term23"></a>
            <p><strong>23. Miscellaneous</strong></p>
            <p>If any portion of this Agreement is deemed unlawful, void or unenforceable by any arbitrator or court of competent jurisdiction, this Agreement as a whole shall not be deemed unlawful, void or unenforceable, but only that portion of this Agreement that is unlawful, void or unenforceable shall be stricken from this Agreement.</p>
            
            <p>You agree that if Bellerophon does not exercise or enforce any legal right or remedy which is contained in the Agreement (or which Bellerophon has the benefit of under any applicable law), this will not be taken to be a formal waiver of Bellerophon's rights and that those rights or remedies will still be available to Bellerophon.</p>

			<p>All covenants, agreements, representations and warranties made in this Agreement shall survive your acceptance of this Agreement and the termination of this Agreement.</p>
			
            <p>This Agreement represents the entire understanding and agreement between you and Bellerophon regarding the subject matter of the same, and supersedes all other previous agreements.</p>
			
            <a name="term24"></a>
            <p><strong>24. Apple Requirements</strong></p>
            <p>If you downloaded the Service or product from the Mac App Store, the following terms also apply to you:</p>
			<ul style="list-style:lower-alpha;">
            	<li>Acknowledgement: You acknowledge that this Agreement is between you and Bellerophon only, and not with Apple, and Bellerophon, not Apple, is solely responsible for the Software and the content thereof.</li>
				<li>Scope of License: The license granted to you for the Software is a limited, non-transferable license to use the Software on Mac product that you own or control and as permitted by the Usage Rules set forth in the terms of service applicable to the Mac App Store.</li>
                
                <li>Maintenance and Support: Bellerophon and not Apple is solely responsible for providing any maintenance and support services, for which additional fees may apply, with respect to the Services. You acknowledge that Apple has no obligation whatsoever to furnish any maintenance and support services with respect to the Software.</li>
                
                <li>Warranty: Bellerophon is solely responsible for any product warranties, whether express or implied by law, to the extent not effectively disclaimed. In the event of any failure of the Software to conform to any applicable warranty, you may notify Apple, and Apple will refund the purchase price for the Software to you. To the maximum extent permitted by applicable law, Apple will have no other warranty obligation whatsoever with respect to the Software, and any other claims, losses, liabilities, damages, costs or expenses attributable to any failure to conform to any warranty will be Bellerophon's sole responsibility.</li>
                
                <li>Product Claims: Bellerophon, not Apple, is responsible for addressing any user or third party claims relating to the Software or the user's possession and/or use of the Software, including, but not limited to: (i) product liability claims; (ii) any claim that the Software fail to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation.</li>
                
				<li>Intellectual Property Rights: You acknowledge that, in the event of any third party claim that the Software or your possession and use of the Software infringes that third party's intellectual property rights, Bellerophon, not Apple, will be solely responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claim.</li>
                
                <li>Legal Compliance: You represent and warrant that (i) you are not located in a country that is subject to a Nigerian Government embargo, or that has been designated by the Nigerian Government as a terrorist-supporting country; and (ii) you are not listed on any Nigerian Government list of prohibited or restricted parties.</li>
                
                <li>Developer Contact Info: Direct any questions, complaints or claims to: Bellerophon Corp, 3 Omobola Close, Surulere, 101283 or https://www.budget247.com/</li>
                
                <li>Third Party Terms of Agreement: You must comply with any applicable third party terms of agreement when using the Software.</li>
                
                <li>Third Party Beneficiary: You acknowledge and agree that Apple and Apple's subsidiaries are third party beneficiaries of this Agreement, and that, upon your acceptance of the terms and conditions of the Agreement, Apple will have the right (and will be deemed to have accepted the right) to enforce the Agreement against you as a third party beneficiary thereof.</li>
			</ul>
		
        <a id="btt" href="#container"></a>
         
		</div>
        <!--End Right Content-->
       
	</div>