%h1 Choose a Goal:

#choose_goal_category
  = link_to "Family / Personal Vacation", new_goal_path(type: "family_personal_vacation")
  = link_to "School Tuition",             new_goal_path(type: "school_tuition")
  = link_to "Asset Purchase",             new_goal_path(type: "asset_purchase")
  = link_to "Create Your own Goal",       new_goal_path
