@import "mixins";

#user-settings {
  @include inline-block;
  vertical-align: top;
}

.block.right.tabbed {
  display: none;

  h4:first-child { margin: 0 0 10px; }
  h4 { margin: 35px 0 10px; }

  dl {
    margin: 0;
    font-size: 12px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
    border-top: 1px solid #efefef;
    clear: right;

    form { display: none; }

    &.active {
      background-color: #f6f6f6;

      dt { vertical-align: top; }

      dd { display: none; }

      form {
        @include inline-block;
        padding: 10px 0 10px 10px;

        input[type=text], input[type=email], input[type=tel] {
          @include box-sizing;
          max-width: 200px;
        }

        #user_country_chzn {
          min-width: 260px;

          .chzn-results { width: 260px; }
        }

        .buttons {
          margin-top: 10px;

          input[type=submit] { @include button-accented }

          a.cancel {
            @include button;
            color: #656673;
          }
        }
      }
    }

    dt, dd {
      @include inline-block;
      padding: 10px 0 10px 10px;
      margin: 0;
      vertical-align: top;
    }

    dt {
      @include box-sizing;
      color: #3e4050;
      width: 210px;
      vertical-align: middle;
    }

    dd {
      color: #9a9999;
      font-weight: normal;

      &.activated {
        font-weight: bold;
      }
    }
    dd + dd { float: right; }
  }

  h4 + dl { border: none; }

  &.active { @include inline-block; }

  .add-account { @include add-link; }

  a.edit {
    width: 10px;
    height: 10px;
    margin-right: 10px;
  }
}

.block.accounts {
  .account {
    @include box-sizing;
    position: relative;
    min-height: 120px;
    margin-bottom: 10px;
    padding: 20px 160px 20px 20px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 11px;
    color: #3e4050;
    background-color: #f6f6f6;

    .amount {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 18px;
    }

    .buttons {
      position: absolute;
      right: 20px;
      bottom: 10px;

      .button:first-child {
        margin-right: 10px;
      }

      .button.delete {
        position: relative;
        padding-left: 25px;

        i {
          @include inline-block;
          height: 10px;
          width: 10px;
          position: absolute;
          left: 10px;
          top: 10px;
          background: image-url('ico/delete.png') center center no-repeat;
        }
      }
    }

    img {
      display: block;
      margin-bottom: 15px;
    }

    .status {
      @include inline-block;
      @include radius(2px);
      position: absolute;
      top: 20px;
      left: 175px;
      padding: 4px 15px;
      color: #fff;
      text-shadow: 0 -1px 0px rgba(0,0,0,.21);
      font-weight: bold;
      font-size: 12px;

      &.active { background-color: #a5ce71; }
      &.inactive { background-color: #f06838; }
    }

    .name { font-size: 12px; }

    .times {
      position: absolute;
      bottom: 20px;
      left: 20px;
      color: #9a9999;

      span {
        @include inline-block;
        &:first-child {
          margin-right: 15px;
        }
      }
    }
  }
}

.block.hidden_accounts {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;

  .info { color: #9a9999; }

  h5 {
    font-size: 14px;
    font-weight: normal;
    color: #3e4050;
    margin: 30px 0 5px;
  }

  ul {
    margin: 15px 0;

    li {
      margin: 5px 0;

      form { @include inline-block; }
    }
  }
}

.block.delete_account {
  min-height: 425px;
  font-family: Helvetica,Arial,sans-serif;

  .info {
    margin: 20px 0;
    font-size: 12px;
    color: #9a9999;
  }

  .buttons {
    .button {
      @include button;
      color: #656673;
      margin-right: 10px;

      &.accented {
        @include button-accented;
      }
    }
  }
}



