#header.grid_24
  #header-bg
  = link_to '', root_path, :id => 'logo'
  #menu
    %ul
      = render :partial => 'shared/menu'
        
  .clear
  = image_tag 'hero-sep.png', :style => "position:absolute; top:80px;"

.clear