<!DOCTYPE HTML>
<html>
<head>
<title>Budget24-7 | Life Budget</title>
<meta http-equiv="content-type" content="text/html;iso-8859-1"/>
<link rel="shortcut icon" href="images/favicon.png">
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<link href="css/ie.css" media="screen" rel="stylesheet" type="text/css">      
<![endif]--> 

<link rel="stylesheet" type="text/css" href="css/960_24_col.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script type="text/javascript" src="js/main.js"></script>

<!--Buubles Home-->
<link href="bubbles.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/xco1zsc-d.css" rel="stylesheet">
<script src="js/ga.js" async type="text/javascript"></script><script src="js/jquery.js"></script>
<script type="text/javascript" src="js/xco1zsc.js"></script>
<script>!window.jQuery && document.write('<script src="js/jquery-1.4.2.min.js"><\/script>')</script>
<script type="text/javascript" src="js/raphael-min.js"></script>
<script type="text/javascript" src="js/lonely.js"></script>  
<!--End Bubbles Home-->
  
  
<!--Logged In Users-->
<script type="text/javascript">
  var sunnytrail=sunnytrail||[];sunnytrail._d="i.thesunnytrail.com";
  sunnytrail._a="oSiDkYLKjh";sunnytrail._f=["tag","identify"];
  for(var i in sunnytrail._f){var v=sunnytrail._f[i];sunnytrail[v]=function(a){
  return function(){sunnytrail.push([a,arguments])}}(v)}setTimeout(function(){
  var a=document.createElement("script");a.type="text/javascript";a.async=true;
  a.src="https://"+sunnytrail._d+"/stj.js";
  var b=document.getElementsByTagName("script")[0];
  b.parentNode.insertBefore(a,b)},1)
  
  /*/Note for Programmer/*/
  // Please change the "Unique_ID" to any value which is unique and permanent and does not change without deleting account and making new one, something like an Unique ID key in the Database. Also, Please change the "logged_in_email" to the email of the user who is logged in so he can be tracked in the SunnyTrail Dashboard.
  
  /*
  sunnytrail.identify('unique_ID');
  sunnytrail.tag('email', 'logged_in_email');*/
  
</script>
<!--End Logged In Users-->

<script type='text/javascript'>(function () {function loadWebreep() {var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;s.src = 'https://api.webreep.com/Feedback/Get/3508ed12-7cf5-472d-87cb-215421267d77';var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);}if (window.attachEvent) {window.attachEvent('onload', loadWebreep);} else {window.addEventListener('load', loadWebreep, false);}})();</script>

</head>
<!--Till Here-->
<body>
<div id="container" class="container_24">
    <!--Begin Header-->
    <div id="header" class="grid_24">
      <div id="header-bg"></div>
      <a href="#" id="logo"></a>
      <div id="menu">
          <ul>
              <li class="r-border"><a href="#">Sign In</a></li>
                <li><a href="#">Sign Up</a></li>
                <!--
                
                ###Section For Logged In Users
              <li><a href="#">Accounts</a></li>
                <li><a href="#">Life Budgets<sup>TM</sup></a></li>
                <li><a href="#">Achieve<sup>TM</sup></a></li>
                <li><a href="#">The Treasury</a></li>
                <li><a href="#">Profile</a></li>
                <li class="sign-out"><a href="#">Sign Out</a></li>
                
                -->
            </ul>
        </div>
        <div class="clear"></div>
        <img src="images/hero-sep.png" style="position:absolute; top:80px;">
    </div>
    
    <!--End Header-->
    
    <div class="clear"></div>
    
    <!--Begin Home-->
    <div id="home-welcome" class="grid_24">
      <div id="home-bg-rpt"></div>
      <h5 id="to_cluster" class="interactive clustered active ie">BUDGET 24/7</h5>
        <span>Plan your Finances. Socially.</span>
  </div>
   
    <div class="clear"></div>
    
  <div id="home-content" class="grid_24">
    <h2>Your <span>Fun, Fresh & Fast</span> way to organize your money</h2>

        <!--Display this as a notification once the user has signed up-->
            <div class="pop-up" id="pop-up-ver" style="display:block;">
                <div class="overlay"></div>
                <div class="pop-width" style="width:540px;">
                    <div class="pop-container" style="max-width:490px;">
                        <a class="close" onClick="close_overlay('pop-up-ver');"></a>
                        <span class="pop-up-title"><strong>Please Complete your Sign up</strong><br>We have sent a confirmation link to your email email@email.com. Please click the verification link to get started with Budget 24-7</span>
                        
                        <div class="clear"></div>
                                             <div class="steps">
                            <span class="step">1</span>
                            <span class="step-title">Sign up on Budget 24-7</span>
                            <span class="step-progress"><span class="step-check"></span>Well Done! You Have Already Signed Up</span>
                        </div>
                        
                        <div class="clear"></div>
                        
                        <div class="steps">
                            <span class="step">2</span>
                            <span class="step-title">Look for Email in your inbox</span>
                            <span class="step-progress"><span class="step-checkbox"></span>Check your Inbox</span>
                        </div>
                        
                        <div class="clear"></div>
                        
                        <div class="steps">
              <span class="step">3</span>
                            <span class="step-title">Click the activation link</span>
                            <span class="step-progress">Check link to activate your Account!</span>
            </div>
                        
                    </div>
                </div>
            </div>
      <!-- Till Here-->
            
    <!--Display it when the user clicks "Get Invited" on the home page-->
        <div class="form" style="display:none;">
        
          <div class="left-reg grid_9">
      <form accept-charset="UTF-8" action="/users" class="user_new" id="user_new" method="post">
              <div style="margin:0;padding:0;display:inline">
                    <input name="utf8" value="" type="hidden">
                    <input name="authenticity_token" value="" type="hidden">
                </div>
      
      <label for="name">Name</label>
                <div class="error-field">
          <input id="user_first_name" name="user[first_name]" size="30" type="text">
                </div>
      <label for="email">Email</label>
              <div class="error-field">
          <input id="user_email" name="user[email]" size="30" value="" type="email">
        </div>

                <div class="actions">
                    <input name="commit" value="Get Invited" type="submit" class="submit-btn">
                </div>
            </form>
            </div>

            <div class="right-reg grid_6">
              <span class="stamp"></span>
                
                <span class="actions">Already a memeber?&nbsp;<a href="#">Sign In</a></span>
                <a href="#" class="fb_login"></a><a href="#" class="tw_login"></a>
            </div>
            
        </div>
          <!--Till Here-->
          
        <div class="centered">
          <a href="#" class="btn invite_btn">Get Invited</a><div class="clear"></div>
      <a href="#">Already a member?</a><div class="clear"></div>
            <span class="another-service">Another really helpful service brought to you by the insanely <a href="#">talented team </a>at <a href="#">Bellerophon</a></span>
    </div>
        
        
    </div>
    <!--End Home-->
    
</div>  
</body>
</html>