<h1>New account</h1>

<div class="block">
  <div  style="float:right;"><%= link_to "How can create the Account?", help_create_account_path %></div>

  <%= render 'form' %>

  <%= link_to 'Back', accounts_path %>
</div>
